--index-url https://pypi.vnpy.com/simple/
--extra-index-url https://pypi.org/simple/

vnpy
vnpy_ctastrategy
vnpy_ctabacktester
vnpy_portfoliostrategy
vnpy_sqlite
pandas==2.2.3
python-dotenv
fastapi
uvicorn[standard]
alpaca-py
requests
